@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.informative {
  @include modal;

  &__overlay {
    @include modal-overlay;
    background-color: $accent3;
  }

  &__title {
    text-align: center;
  }

  &__container {
    @include modal-top-level-container;
  }
  
  &__top-container {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary3;
  }
  
  &__empty {
    width: 2.3rem;
    height: 2.3rem;
  }

  &__bottom-container {
    padding: 0.5rem 1.5rem;
  }

  &__back {
    @include icon-button;
  }

  &__link-container {
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin: 0 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.2s;
    &:hover {
      transform: scale(1.2) translateY(-0.25rem);
    }
  }
}