@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.informative {
  animation: popup cubic-bezier(.12,.98,.35,1.5) 0.2s;
  @include modal;

  &__overlay {
    @include modal-overlay;
    background-color: $accent3;
  }

  &__container {
    @include modal-top-level-container;
  }
  
  &__top-container {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary3;
  }
  
  &__empty {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__bottom-container {
    padding: 0 1.5rem;
  }

  &__back {
    background: none;
    border: none;
    height: 1.5rem;
  }
}