@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.home {
  position: relative;
  animation: popup 0.2s;
  @include top-level-container;
  overflow: visible;

  &__new {
    @include add-button;
  }
  
  &__top-container {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    background-color: $primary3;;
  }

  &__scroll-container {
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    overflow: hidden;
  }

  &__workouts-container {
    box-shadow: $darkshadow1;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    max-height: 68vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  
  


  &__null {
    text-align: center;
    margin: 1rem 0 0;
  }

  &__get-started {
    @include generic-button;
    align-self: center;
    margin-bottom: 1rem;
  }
}