@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.home {
  position: relative;
  animation: popup 0.2s;
  @include top-level-container;
  overflow: visible;
  margin: 0 2rem;

  &__new {
    position: absolute;
    background-color: $accent5;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    right: -0.75rem;
    top: -0.75rem;
    box-shadow: $lightshadow1;
  }
  
  &__top-container {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    background-color: $primary3;;
  }

  &__container {
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__workout {
    display: flex;
    flex-direction: column;
  }

  &__null {
    text-align: center;
    margin: 0;
  }

  &__get-started {
    @include generic-button
  }
}