@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.bubble-select {
    &__fieldset {
        border: none;
        padding: 0;
    } 

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        padding-top: 0.25rem;
    }

    &__button {
        color: $globaltextcolor;
        background-color: $bg1;
        border: none;
        padding: 0.25rem 0.5rem;
        box-shadow: $darkshadow1;
        border-radius: 1rem;
        margin-top: 0.25rem;
        cursor: pointer;

        &--toggled {
            background-color: $accent2;
        }

        &:focus-within {
            outline: 1px solid white;
        }

        input[type=checkbox] {
            // visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
        }
    }
}