@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.workout {
  animation: popup 0.2s;
  @include top-level-container;

  &__title {
    text-align: center;
  }

  &__top-container {
    display: flex;
    justify-content: center;
    background-color: $primary3;
  }

  &__lifts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 1rem 1.5rem;
  }

  &__first-lift {
    @include generic-button;
    margin-bottom: 1rem;
  }
}