@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.exercises {
  position: relative;
  @include top-level-container;
  animation: popup 0.2s;
  overflow: visible;

  &__top-container {
    display: flex;
    justify-content: center;
    background-color: $primary3;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__add-button {
    @include add-button;
  }

  &__scroll-container {
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    overflow: hidden;
  }

  
  &__bottom-container {
    box-shadow: $darkshadow1;
    max-height: 68vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  &__default-container {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    @include generic-button;
    margin-top: 0.5rem;
    width: fit-content;
  }
}