@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.settings {
  animation: popup 0.2s;
  display: flex;
  flex-direction: column;
  @include top-level-container;
  
  
  &__top-container {
    padding: 0 1.5rem;
    background-color: $primary3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__back {
    height: 1.5rem;
    background: none;
    border: none;
    border-radius: 1rem;
    padding: 0;
  }

  &__empty {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__separator {
    min-width: 50%;
    margin: 0.375rem 0 0.5rem;
    display: flex;
    align-items: center;
  }

  &__option {
    transition: 0.5s;
    margin: 0;
    margin-right: 0.5rem;
    filter:hue-rotate(100deg) brightness(0.5) drop-shadow(-0.5px 3px 8px $primary1);
    transform: scale(1.375);
    &:checked {
      filter:hue-rotate(100deg) brightness(1) drop-shadow(-0.5px 3px 8px $primary1);
    }
  }

  &__label {
    line-height: 100%;
  }

  &__help-button {
    opacity: 0.7;
    background: none;
    border: none;
    padding: 0;
    margin-left: 0.5rem;
    height: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      transform: scale(1.25) translateY(-0.1rem);
    }
  }

  &__help {
    width: 1.2rem;
  }

  &__preferance-container {
    animation: popup cubic-bezier(.12,.98,.35,1.5) 0.4s ;
  }

  &__submit {
    align-self: flex-end;
    @include generic-button;
    min-width: 7.75rem;
  }
}