@use "./variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(150deg, $primary1, $primary2, $primary6);
  color: $globaltextcolor
}

html, body, .root {
  height: 100%;
}