@use "./variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(115deg, #2e2e2e 40%, #3e3e3e 50%);
  color: $globaltextcolor
}

html, body, .root {
  height: 100%;
}