@use "./variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // padding: 3rem 2rem 0;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(-20deg, $primary1, $primary2);
  color: $globaltextcolor;
  overflow: scroll;
}

html, body, #root {
  min-height: 100%;
}