@use "./variables" as *;

@mixin top-level-container {
  box-shadow: $lightshadow1;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  background-color: $primary4;
  // margin: 3rem 2rem 0;
}

@mixin generic-button {
    color: $textcolor2;
    font-size: 1rem;
    box-shadow: $darkshadow1;
    outline: none;
    border: none;
    background-color: $primary2;
    border-radius: 2rem;
    padding: 0.65rem 1rem;
    margin: 1rem 0 0;
}
