$primary1: #222;
$primary2: #393939;
$primary3: #494949;
$primary4: #595959;
$primary5: #696969;
$primary6: rgb(56, 43, 61);

// $accent1: rgb(44, 135, 187);
$accent1: #1ffff4;
$accent2: #a51fff;
$accent3: #ff1fda;
$accent4: #ff711f;
$accent5: #398be4cb;


$placeholdertext: #aaa;
$globaltextcolor: #e1e1e1;
$textcolor2: #fff;

$lightshadow1: 0 .1875rem .825rem rgba(124, 122, 122, 0.445);
$lightshadow2: 0 .1875rem 0.625rem rgba(138, 133, 133, 0.603);
$darkshadow1: 0 .1875rem 0.625rem rgba(0, 0, 0, 0.253);
$darkshadow2: 0 .1875rem 1.5rem .4rem rgba(51, 56, 61, 0.473);
