$bg1: #191919;
$bg2: #292929;
$bg3: #393939;
$bg4: #494949;
$bg5: #595959;
$bg6: rgb(56, 43, 61);

$bg5-transparent: #29292986;

$primary: #1ffff4;
$secondary: #be1cc4;
$danger: #db820d;
$accent1: #398ce4;
$accent2: #398be4cb;
$accent3: #ff00c8;
$accent4: #85ad25;

// Darker background colors for lift modifier classes
$modifierbg1: #346865;
$modifierbg2: #835a24;
$modifierbg3: #7b3a7e;
$modifierbg4: #5b6d32;

$placeholdertext: #aaa;
$globaltextcolor: #e1e1e1;
$textcolor2: #fff;

$lightshadow1: 0 .1875rem .825rem rgba(124, 122, 122, 0.445);
$lightshadow2: 0 .1875rem 0.625rem rgba(138, 133, 133, 0.603);
$darkshadow1: 0 .1875rem 0.625rem rgba(0, 0, 0, 0.253);
$darkshadow2: 0 .1875rem 1.5rem .4rem rgba(51, 56, 61, 0.473);
$darkshadow3: 0.5rem .3875rem .825rem 0.25rem rgba(0, 0, 0, 0.397);