@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/animations" as *;

.add-lift {
  @include modal;
  
  &__container {
    @include top-level-container;
    width: 100%;
    margin: 0;
    animation: popup 0.2s;
  }

  &__overlay {
    @include modal-overlay;
  }

  &__top-container {
    padding: 0 1.5rem;
    background-color: $primary3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__empty {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__close {
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    border: none;

  }

  &__form {
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &--radio {
      margin: 0;
    }
  }

  &__exercise-dropdown {
    margin-top: 0.25rem;
    color: $globaltextcolor;
    border: none;
    background-color: $primary3;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  &__input {
    margin-top: 0.25rem;
    color: $globaltextcolor;
    border: none;
    background-color: $primary3;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  &__radio {
    filter:hue-rotate(-40deg) brightness(0.5) drop-shadow(-0.5px 3px 8px $primary1);
    transform: scale(1.375);
    &:checked {
      filter:hue-rotate(-40deg) brightness(1) drop-shadow(-0.5px 3px 8px $primary2);
    }
  }

  &__radio-container {
    margin-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__separator {
    display: flex;
    padding: 0 0.25rem;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include generic-button;

    &--submit {
      background: none;
      color: $accent1;
      border: 0.25rem solid $accent1;
      box-shadow: $lightshadow1;
    }
  }
}