@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.exercise {
  padding: 1rem 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 2px solid $primary2;
  flex-grow: 1;
  @include tablet {
    box-shadow: $darkshadow2;
    justify-content: space-between;
    width: 50%;
  }
  @include desktop {
    width: 33%;
  }

  &--even {
    background: $primary5;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient($primary1, $primary2);
    width: 100%;
    padding:  0;
    box-shadow: $darkshadow1;
  }

  &__title {
    margin: 0 0 0.75rem;
    width: 100%;
    background-color: $primary1;
    padding: 0.5rem 0;
    box-shadow: $darkshadow1;
  }

  &__muscle-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__muscle {
    color: $textcolor2;
    padding: 0.5rem;
    width: 6rem;
    margin-top: 0;
    box-shadow: $lightshadow1;
    border-radius: 1rem;
    background-color: $accent7;
    
    &--push {
      background-color: $accent3;
    }

    &--pull {
      background-color: $accent2;
    }
    
    &--legs {
      background-color: $accent5;
    }
  }

  &__muscle-separator {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    width: 7rem;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 0.5rem;
  }

  &__button {
    @include icon-button;
  }

}