@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/animations" as *;

.delete-modal {
  @include modal;
  transition: 0.3s;

  &--closing {
    transform: translate(-50%, -150vh);
  }

  &__overlay {
    @include modal-overlay;
    background-color: $danger;
  }

  &__container {
    @include modal-top-level-container;
  }

  &__top-container {
    padding: 0 1.5rem;
    background-color: $bg3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__empty {
    width: 2.3rem;
    height: 2.3rem;
  }

  &__title {
    text-align: center;
  }

  &__close {
    @include icon-button;
  }

  &__bottom-container {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include generic-button;

    &--delete {
      border: 0.25rem solid $danger;
      background: none;
      color: $danger;
      box-shadow: $lightshadow1;
    }
  }
}