@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.add-exercise {
  @include modal;
  transition: 0.3s;

  &--closing {
    transform: translate(-50%, -150vh);
  }

  &__overlay {
    @include modal-overlay;
    background-color: $accent1;
  }

  &__container {
    @include modal-top-level-container;
  }
  
  &__top-container {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary3;
  }

  &__empty {
    width: 2.3rem;
    height: 2.3rem;
  }

  &__close-button {
    @include icon-button;
  }

  &__title {
    text-align: center;
  }

  &__bottom-container {
    padding: 1rem 1.5rem;
  }

  &__muscle-container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__muscle-button {
    color: $globaltextcolor;
    background-color: $primary1;
    border: none;
    padding: 0.25rem 0.5rem;
    box-shadow: $darkshadow1;
    border-radius: 1rem;
    margin-top: 0.25rem;
    cursor: pointer;

    &--toggled {
      background-color: $accent5;
    }
  }

  &__copy {
    margin: 0 0 0.5rem;
  }

  &__label {
    display: inline-block;
    margin-top: 1rem;
  }

  &__name {
    @include generic-field
  }

  &__button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  &__button {
    @include generic-button;

    &--submit {
      background: none;
      border: 0.25rem solid $accent1;
      color: $accent1;
    }
  }

}