@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;

.about {

  &__link-container {
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin: 0 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.2s;
    &:hover {
      transform: scale(1.2) translateY(-0.25rem);
    }
  }
}