@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.advanced {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;

  &__title {
    color: $textcolor2;
    text-align: center;
    margin: 0;
    padding: 0.8rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
    background-color: $primary4;
  }
  
  &__top-container {
    padding: 0 1.5rem;
    background-color: $primary3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__back {
    height: 1.5rem;
    background: none;
    border: none;
    border-radius: 2rem;
    padding: 0;
  }

  &__empty {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem;
  }

  &__check-wrapper {
    display: flex;
  }

  &__check-separator {
    width: 50%;
    display: flex;
    align-items: center;
  }

  &__help-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 0.2rem 1rem;
    height: 1.2rem;
  }

  &__help {
    width: 1.2rem;
  }

  &__radio-wrapper {
    display: flex;
  }
  
  &__radio-separator {
    display: flex;
    width: 50%;
    align-items: center;
  }

  &__submit {
    align-self: flex-end;
    color: $textcolor2;
    font-size: 1rem;
    box-shadow: $darkshadow1;
    outline: none;
    border: none;
    background-color: $primary2;
    width: 50%;
    padding: 0.65rem 1rem;
    margin: 1rem 0 0;
    border-radius: 2rem;
  }
}